.panels-flexible-region {
  padding: 0;
}

.panels-flexible-region-inside {
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.panels-flexible-region-inside-first {
  padding-left: 0;
}

.panels-flexible-region-inside-last {
  padding-right: 0;
}

.panels-flexible-column {
  padding: 0;
}

.panels-flexible-column-inside {
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.panels-flexible-column-inside-first {
  padding-left: 0;
}

.panels-flexible-column-inside-last {
  padding-right: 0;
}

.panels-flexible-row {
  padding: 0 0 0.5em 0;
  margin: 0;
}

.panels-flexible-row-last {
  padding-bottom: 0;
}

.panels-flexible-column-country-main {
  float: left;
  width: 66.2941%;
}

.panels-flexible-column-country-2 {
  float: left;
  width: 32.7059%;
}

.country-inside {
  padding-right: 0px;
}

.country {
  width: auto;
}

.panels-flexible-region-country-content {
  float: left;
  width: 99.0000%;
}

.panels-flexible-row-country-1-inside {
  padding-right: 0px;
}

.panels-flexible-region-country-content_ {
  float: left;
  width: 99.0000%;
}

.panels-flexible-row-country-3-inside {
  padding-right: 0px;
}

