/* $Id: local-sample.css,v 1.2 2010/09/17 21:36:06 eternalistic Exp $ */

/****************************/
/* LOCAL CSS                */
/****************************/

/* Put your custom CSS and CSS overrides in this file and  */
/* rename it local.css.  By restricting your CSS changes   */
/* to local.css, your changes will not be overwritten when */
/* upgrading to a new version of this theme.  You can also */
/* use a local-rtl.css file for the equivalent in RTL.     */

/* Steps to activate local.css:                       */
/* 1. Add your custom CSS to this file                */
/* 2. Rename this file to local.css                   */
/* 3. Clear cached data at admin/settings/performance */

@import 'base';

/* ================================ Colors ================================ */

body , .preface-top-wrapper 													{	/* background: url('/sites/default/files/media/background/linedpaper.png'); */
																					background: #fff;
																				}

html, .header-top-wrapper , .header-group-wrapper , .footer-wrapper,
.footer-message-wrapper 					 									{	background: $blue;
																				}
																																							
#header-primary-menu-wrapper													{	background: #000;
																					border: none;
																				}
																				

/* Typography 
-------------------------------------------------------------- */
#pid-关于我们 h1.title,
#pid-about-us h1.title,
#pid-downloads h1.title,
#pid-contact h1.title,
#pid-products-olive-oil h1.title,
#pid-products-wine h1.title,
#pid-home h1.title	 															{ 	display: none;
																				}

#pid-home .views-field-teaser	{	font-size: 18px;
									margin-bottom: 60px;
									line-height: 1.3;
								}
								
#main-wrapper	{	.panels-flexible-region-last	{	h2.block-title	{	@include menuHeader;
																			
																		}
																	}
																}


.page-taxonomy	{	.pane-products-views {	h2.block-title	{	color: $darkGrey;
																border-bottom: 1px dotted $darkGrey;
																font-weight: bold;
																font-size: 20px;
																margin-bottom: 60px;
															}
														}
														
					.panels-flexible-region-inside-last {	.pane-products-categories	{	margin-top: 20px;
																						}
														}									
													}
				

.node-type-product	{	h1	{	@include pageTitle;
								margin-top: 40px;
							}
							
						h2.acids-table-name	{	font-size: 14px;
												font-family: 'Arial Narrow' , sans-serif;
											}
											
						#other-products	{	border-top: 1px dotted $darkGrey;
											border-bottom: 1px dotted $darkGrey;
											padding: 6px 0;
											margin-bottom: 40px;
											
											h2.block-title	{	background: none;
																color: $darkGrey;
															}
										}						
							
						#content-content {  .panels-flexible-region-last	{	.pane-field-notes, 
																				.pane-field-tasting-notes {	
																				
																				h2.block-title,
																				h2.pane-title	{	background: none;
																									color: $darkGrey;
																									font-weight: bold;
																									font-size: 16px;
																									border-top: 1px dotted $darkGrey;
																									padding: 10px 0 0 0;
																									width: 100%;
																									text-transform: none;
																								}
																					        }
																		                }
														                            }			
					                                                           }
					
.node-type-news	{	#main-content {		h1	{	@include pageTitle;
											}
											
										.field-field-teaser	{	font-family: Times , serif;
																font-style: italic;
																color: $darkGrey;
																padding-left: 20px;
																border-left: 5px solid $darkGrey;
																font-size: 20px;
																line-height: 1.2;
															}	
									}
									
					.views-field-body	{	p 	{ 	width: 92%;
													font-size: 16px;
												}
										}				
				}

#pid-news	{	.panels-flexible-region-last	{	.pane-news	{	margin-top: 60px;
																}
												}
												
				.news-page-title  {		margin: 20px 0;
										.field-content	{	font-size: 26px;
															font-weight: bold;
															color: $darkGrey;
														}
												}
										}
				
									
				.views-field-body	{	p 	{ 	width: 92%;
												font-size: 16px;
											}
									}	
														
#pid-about-us	{	.about-us-content	{	p 	{ 	width: 92%;
												font-size: 16px;
											}
										}
				}											


.latest-news	{	h2	{	border-bottom: 1px dotted #000;
							font-size: 18px;
						}
						
					h3	{	font-size: 18px;
						}
						
					.views-view-grid tbody tr.row-1		{	border-bottom: 60px solid transparent;
														}		
				}

.catchphrase		{	color: $green;
						font-weight: bold;
						font-size: 26px;
					}
					
.more	{	text-transform: uppercase;
			font-size: .8em;
			padding: .2em .2em .2em .2em;
			background: #444;
			color: #fff;
			width: 60px;
			display: block;
			text-align: center;
			border: 2px solid #ccc;
		}

																				
.footer-wrapper { h2.block-title	{	color: #b4ff19;
										border-top: none;
										border-bottom: 1px dotted #b4ff19;
										padding-bottom: .4em;
										font-size: 18px;
									}
									
					ul.nav {	margin: 0;
								padding: 0;
								li	{	list-style: none;
										margin-bottom: 4px;
										a 	{ 	color: #fff;
												font-size: 14px;
											}
									}
								
								
							}				
				}
/* Layout 
-------------------------------------------------------------- */
.header-group-inner 															{	padding: 0;
																					margin-bottom: -7px;
																				}
						

.views-view-grid tbody tr td													{	vertical-align: top;
																					h3 	{	font-weight: bold;
																						}
																					h3 , p 	{	max-width: 260px;
																						}
																				}																				
/* Products Page 
-------------------------------------------------------------- */	
.pane-products-views	{	.view-products-views	{ .views-field-field-illustration-fid img 	{	float: left;
																									margin: 0 5px 1em 0;
																								}
																								
														.views-field-title a	{	color: #444;
																					font-weight: bold;
																					font-size: 1.2em;
																					
																					&:hover	{	color: $blue;
																							}
																				}	
																													
													}
						}

/* Downloads page 
-------------------------------------------------------------- */																				
#pid-downloads	#main-wrapper													{	padding: 6em 0 0 0;
																				}

#pid-downloads .views-field-title												{	font-weight: bold;
																				}

#pid-downloads table thead 														{	display: none;
																				}

#pid-downloads table,
#pid-downloads tbody tr td,
#pid-downloads tbody tr ,
#pid-downloads table thead 														{	border: none;
																					border-bottom: none;
																				}

#pid-downloads tbody tr															{	vertical-align: top;
																				}

#pid-downloads tbody tr td														{	border-bottom: 10px solid transparent;
																				}


/* Breadcrumb type Horizontal Menu
/-------------------------------------------------------------- */
.horizontal-menu	{	ul.nav	{	padding: 0;
									margin: 0;
									
									li	{	list-style: none;
									
											a 	{ 	display: inline;
													float: left;
													padding: 0 20px 0 20px;
													text-decoration: underline;
													font-style: italic;
													border-right: 1px solid #ccc;
													color: $darkGrey;
												}
										}
								}		
					}

/* Sidebar Menu
/-------------------------------------------------------------- */
.menu	{	h3	{	a 	{	color: $darkGrey;
							text-decoration: underline;
							font-weight: bold;
							font-size: 16px;
						}
				}
				
			ul.nav {	margin: 0 0 20px 0;
					padding: 0;
																									
					li {	list-style: none;
						
						a 	{	text-decoration: none;
								background: #fff;
								display: block;
								border-bottom: 1px dotted #ddd;
								margin: 0 0 1px 0;
								padding: 6px 0 0 6px;
								text-transform: uppercase;
								font-size: .88em;
								color: #444;
								max-width: $menuWidth;
							}
							
						a:hover	{	background: $blue;
									color: #fff;
								}	
					}
				}
		}


/*
#main-wrapper {		ul.nav {	margin: 0 0 20px 0;
					padding: 0;
																									
					li {	list-style: none;
						
						a 	{	text-decoration: none;
								background: #fff;
								display: block;
								border-bottom: 1px dotted #ddd;
								margin: 0 0 1px 0;
								padding: 6px 0 0 6px;
								text-transform: uppercase;
								font-size: .88em;
								color: #444;
								max-width: $menuWidth;
							}
							
						a:hover	{	background: $blue;
									color: #fff;
								}	
					}
				}
}
*/

/* Primary Menu
/-------------------------------------------------------------- */
.primary-menu-inner ul.menu li 													{	padding: .1em 4em 0 0;
																				}																				
																				
.primary-menu-inner ul.menu li a												{	text-transform: uppercase;
																					font-size: .8em;
																				}
														
.primary-menu-inner ul.menu li a:link,
.primary-menu-inner ul.menu li a:visited 										{	border-left: none;
  																					color: #aeaeae;
																				}

/* styles for standard and Superfish primary menu */
.primary-menu-inner ul.menu li a:focus,
.primary-menu-inner ul.menu li a:hover,
.primary-menu-inner ul.menu li:hover a,
.primary-menu-inner ul.menu li.active-trail a,
.primary-menu-inner ul.sf-menu li a:hover,
.primary-menu-inner ul.sf-menu li:hover a,
.primary-menu-inner ul.sf-menu li.hover a 										{	background:none;
																				  	color: #fff;
																				}

.primary-menu-inner ul.menu li.active-trail a.active 							{	color: #fff;
																				}

.primary-menu-inner ul li.last a,
.primary-menu-inner ul.sf-menu li.last 											{	border-right: none;
}


/* Language Switcher
/-------------------------------------------------------------- */
.language-switcher	ul															{	float: right;
																					padding: .4em 3em .2em 0;
																					background: #04080b;
																					border-radius: 5px;
																					border: 1px solid #444;
																				}																			

.language-switcher	ul	li														{	list-style: none;
																					float: left;
																					margin-left: 3em;
																					font-size: .9em;
																					font-weight: bold;
																				}																		

.language-switcher	ul	li	a													{	color: #fff;
																				}																		

.language-switcher	ul	li	img													{	margin-right: .5em;
																				}