/* $Id: local-sample.css,v 1.2 2010/09/17 21:36:06 eternalistic Exp $ */
/****************************/
/* LOCAL CSS                */
/****************************/
/* Put your custom CSS and CSS overrides in this file and  */
/* rename it local.css.  By restricting your CSS changes   */
/* to local.css, your changes will not be overwritten when */
/* upgrading to a new version of this theme.  You can also */
/* use a local-rtl.css file for the equivalent in RTL.     */
/* Steps to activate local.css:                       */
/* 1. Add your custom CSS to this file                */
/* 2. Rename this file to local.css                   */
/* 3. Clear cached data at admin/settings/performance */
/* ================================ Colors ================================ */
/* line 22, ../sass/local.scss */
body, .preface-top-wrapper {
  background: #fff;
}

/* line 26, ../sass/local.scss */
html, .header-top-wrapper, .header-group-wrapper, .footer-wrapper,
.footer-message-wrapper {
  background: #0669e4;
}

/* line 29, ../sass/local.scss */
.postscript-bottom-wrapper {
  background: #fff;
  color: #b0b0b0;
}

/* line 32, ../sass/local.scss */
.homepage-sidebar-right {
  background: #fff;
}

/* line 35, ../sass/local.scss */
a:link, a:visited {
  color: #0669e4;
}

/* line 38, ../sass/local.scss */
h1, h2, h4, h5, h6 {
  color: #535353;
}

/* line 41, ../sass/local.scss */
h2.block-title {
  border-top: 1px solid #cccccc;
}

/* line 44, ../sass/local.scss */
h3 {
  color: #b4ff19;
}

/* line 47, ../sass/local.scss */
h3.news-title {
  color: #444;
  /* border-top: 1px dotted #444; */
}

/* line 51, ../sass/local.scss */
.latest-news {
  background: #fff;
}

/* line 54, ../sass/local.scss */
.latest-news table tbody tr td {
  /* background: #eee; */
  /* border-right: 10px solid #fff; */
  /* padding: 1em 0 0 2em; */
}

/* line 59, ../sass/local.scss */
.latest-news table tbody tr td.col-3 {
  /* border-right: none; */
}

/* line 62, ../sass/local.scss */
.latest-news h3.news-title {
  background: none;
  /* border-bottom: 1px dotted #444; */
  font-size: 1.2em;
}

/* line 67, ../sass/local.scss */
.more {
  color: #0669e4;
}

/* line 70, ../sass/local.scss */
.news-page-title {
  /* color: #444; */
}

/* line 73, ../sass/local.scss */
.views-field-title a:hover {
  color: #444;
}

/* line 76, ../sass/local.scss */
.news-sidebar-right a {
  color: #444;
}

/* line 78, ../sass/local.scss */
.featured {
  color: #444;
}

/* line 81, ../sass/local.scss */
.news-teaser {
  color: #0669e4;
}

/* line 84, ../sass/local.scss */
.featured-information {
  color: #777;
}

/* line 87, ../sass/local.scss */
.supplier {
  color: #444;
}

/* line 90, ../sass/local.scss */
.supplier a {
  color: #3b2133;
}

/* line 94, ../sass/local.scss */
.supplier-sidebar-left a {
  color: #444;
}

/* line 97, ../sass/local.scss */
.supplier-title {
  color: #0669e4;
}

/* line 100, ../sass/local.scss */
.supplier h2.block-title {
  border-top: 1px dotted #3b2133;
}

/* line 102, ../sass/local.scss */
.supplier-logo {
  background: #fff;
  border: 1px solid #888888;
}

/* line 105, ../sass/local.scss */
.header-primary-menu-wrapper {
  background: #04080b;
}

/* line 108, ../sass/local.scss */
.main-wrapper {
  border-bottom: 6px solid #04080b;
}

/* line 112, ../sass/local.scss */
.development-log h3 {
  color: #444;
}

/* line 115, ../sass/local.scss */
.header-image {
  clear: both;
  margin-bottom: -.6em;
}

/* line 119, ../sass/local.scss */
.featured-wine-illustration img {
  border: 1px solid #cccccc;
}

/* line 121, ../sass/local.scss */
.imagecache-240x120 img {
  padding: .1em;
  border: 1px solid #cccccc;
}

/*		
-------------------------------------------------------------- */
/* Basic Typography & Colors
-------------------------------------------------------------- */
/* line 133, ../sass/local.scss */
.more {
  text-transform: uppercase;
  font-size: .8em;
  padding: 0.2em 0.2em 0.2em 0.2em;
  background: #444;
  color: #fff;
  width: 60px;
  display: block;
  text-align: center;
  border: 2px solid #cccccc;
}

/* line 146, ../sass/local.scss */
.header-group-inner {
  padding: 0;
  margin: 0;
}

/* line 150, ../sass/local.scss */
.header-primary-menu-wrapper {
  border-bottom: none;
}

/* line 153, ../sass/local.scss */
.main-inner {
  /* background: url("/sites/default/files/images/flower_bg.jpg"); */
  /* background-repeat: no-repeat; */
  background: none;
}

/* line 158, ../sass/local.scss */
.news-page-title,
h1.title {
  font-size: 1.8em;
  font-weight: bold;
  padding-top: 1em;
  color: #0669e4;
}

/* line 170, ../sass/local.scss */
#pid-关于我们 h1.title,
#pid-about-us h1.title,
#pid-downloads h1.title,
#pid-contact h1.title,
#pid-products-olive-oil h1.title,
#pid-products-wine h1.title,
#pid-home h1.title {
  display: none;
}

/* line 173, ../sass/local.scss */
h2.block-title {
  font-size: 1.2em;
  font-weight: bold;
  padding-top: 1em;
}

/* line 178, ../sass/local.scss */
.news-sidebar-right h2.block-title {
  border-top: none;
}

/* line 181, ../sass/local.scss */
.footer-wrapper {
  border-top: none;
}

/* line 185, ../sass/local.scss */
h3 {
  font-weight: bold;
  font-size: 2em;
  padding: .2em;
  border-radius: 15px;
  margin-right: .4em;
}

/* line 192, ../sass/local.scss */
h3.news-title {
  font-size: 1.3em;
  margin: 0 0 0.4em 0;
  padding: 1em 3em 0 0;
  border-radius: 0;
}

/* line 198, ../sass/local.scss */
.views-field-title a:hover {
  text-decoration: none;
}

/* line 201, ../sass/local.scss */
.views-view-grid tbody tr td {
  vertical-align: top;
  width: 30%;
}

/* line 204, ../sass/local.scss */
.views-view-grid tbody tr td p {
  padding-right: 2em;
}

/* line 207, ../sass/local.scss */
.all-olive-oils .views-view-grid tbody tr td img,
.all-wines .views-view-grid tbody tr td img {
  float: left;
  margin-right: 1em;
  margin-bottom: 4em;
}

/* line 212, ../sass/local.scss */
#pid-news .views-field-field-gallery-image-fid img,
#views_slideshow_singleframe_main_News-block_3 {
  float: left;
  margin: 0.5em 2em 1em 0;
}

/* line 215, ../sass/local.scss */
.news-item p {
  margin: 0 2em 1em 0;
}

/* line 218, ../sass/local.scss */
.latest-news {
  padding: 1em;
}

/* line 221, ../sass/local.scss */
.featured-wine-illustration {
  margin: 0 0 1em 1em;
}

/* line 224, ../sass/local.scss */
.latest-news .field-content p {
  width: 240px;
}

/* line 227, ../sass/local.scss */
.latest-news h3.news-title {
  padding: .4em;
  border-top: none;
}

/* line 234, ../sass/local.scss */
.news-teaser, .featured-information {
  font-family: "Goergia,Trebuchet";
  font-size: 1.6em;
  line-height: 120%;
  font-style: italic;
}

/* line 240, ../sass/local.scss */
.featured-information {
  padding: 10px 0 10px 0;
  font-size: 1.4em;
}

/* line 244, ../sass/local.scss */
.news-sidebar-right a {
  text-decoration: underline;
}

/* line 247, ../sass/local.scss */
.development-log h3 {
  font-size: 1.4em;
  padding: 0;
  margin: 0;
}

/* line 252, ../sass/local.scss */
#pid-downloads #main-wrapper {
  padding: 6em 0 0 0;
}

/* line 255, ../sass/local.scss */
#pid-downloads .views-field-title {
  font-weight: bold;
}

/* line 258, ../sass/local.scss */
#pid-downloads table thead {
  display: none;
}

/* line 264, ../sass/local.scss */
#pid-downloads table,
#pid-downloads tbody tr td,
#pid-downloads tbody tr,
#pid-downloads table thead {
  border: none;
  border-bottom: none;
}

/* line 268, ../sass/local.scss */
#pid-downloads tbody tr {
  vertical-align: top;
}

/* line 271, ../sass/local.scss */
#pid-downloads tbody tr td {
  border-bottom: 10px solid transparent;
}

/* Layout 
-------------------------------------------------------------- */
/* line 275, ../sass/local.scss */
.header-group-inner {
  padding: 0;
}

/* line 277, ../sass/local.scss */
.attachment-before {
  margin-top: 2em;
}

/* line 280, ../sass/local.scss */
.view-Featured-Content .views-field-field-inline-image-fid {
  float: left;
  padding: 0 20px 10px 0;
}

/* Home 
-------------------------------------------------------------- */
/* line 286, ../sass/local.scss */
.featured {
  font-weight: bold;
}

/* line 289, ../sass/local.scss */
#featured-wine {
  margin-top: 2em;
}

/* line 292, ../sass/local.scss */
.featured-wine img {
  float: left;
  margin-right: 2em;
}

/* Country 
-------------------------------------------------------------- */
/* line 298, ../sass/local.scss */
.supplier {
  margin-top: 2em;
}

/* line 301, ../sass/local.scss */
.supplier a {
  text-decoration: underline;
}

/* line 304, ../sass/local.scss */
.supplier h2.block-title {
  font-size: 1.2em;
  font-weight: bold;
  padding-top: 1em;
}

/* line 309, ../sass/local.scss */
.supplier-sidebar-left a {
  font-weight: bold;
  font-size: 1.2em;
  padding: 1em 4em 0.4em 0;
  border-radius: 5px;
  width: 50%;
  /* text-align: center; */
  margin-top: 2em;
  margin-bottom: 1em;
}

/* line 319, ../sass/local.scss */
.supplier-title {
  font-weight: bold;
  font-size: 2em;
  text-align: left;
  margin-top: 1em;
}

/* line 324, ../sass/local.scss */
.supplier-logo {
  display: block;
  padding: 1em;
  margin-bottom: 1em;
}

/* Country 
-------------------------------------------------------------- */
/* line 330, ../sass/local.scss */
div.panels-ipe-display-container .panel-pane .pane-title {
  padding: 1em 0 0 0;
}

/* line 332, ../sass/local.scss */
.country-title {
  font-weight: bold;
  font-size: 1.4em;
  color: #3b2133;
  padding: 0;
  text-align: left;
  text-transform: uppercase;
  text-align: center;
}

/* line 342, ../sass/local.scss */
.country-sidebar-right h2.block-title,
.country-sidebar-left h2.block-title {
  font-weight: bold;
  font-size: 1.2em;
  color: #0669e4;
  /* border-top: 5px solid #0669e4; */
  padding: 0.4em 0 0 0;
  margin-top: 1em;
  text-align: left;
}

/* line 351, ../sass/local.scss */
.country-sidebar-left h2.block-title {
  border-top: none;
  border-bottom: 1px solid #0669e4;
  padding-bottom: .4em;
}

/* line 356, ../sass/local.scss */
.country-sidebar-left img {
  padding: 0;
  /* border-bottom: 8px solid #3b2133; */
}

/* line 360, ../sass/local.scss */
.country-sidebar-right img {
  padding: 0 0.3em 0 0.3em;
  border: 1px dotted #cccccc;
  /* margin-left: 2em; */
}

/* line 365, ../sass/local.scss */
.country-name {
  font-weight: bold;
  font-size: 1.2em;
  background: #888888;
  padding: 1em;
  border-radius: 5px;
  width: 50%;
  text-align: center;
  margin-bottom: 2em;
}

/* line 375, ../sass/local.scss */
.country-header {
  font-weight: bold;
  font-size: 1.2em;
  margin: 0;
  padding: 0;
}

/* line 381, ../sass/local.scss */
.country-name a {
  color: #fff;
}

/* line 384, ../sass/local.scss */
.country a {
  /* margin-left: 2em; */
  color: #3b2133;
  text-decoration: underline;
}

/* line 389, ../sass/local.scss */
.country ul li {
  list-style-type: none;
}

/* line 391, ../sass/local.scss */
.view-Countries h3 {
  font-size: 1.2em;
}

/* line 393, ../sass/local.scss */
.view-Countries ul {
  margin: 0 0 2em 0;
  padding: 0;
}

/* Products Page 
-------------------------------------------------------------- */
/* line 398, ../sass/local.scss */
.view-id-products_categories .view-content .views-row .views-field-name .field-content {
  float: left;
  margin-right: 1px;
}
/* line 402, ../sass/local.scss */
.view-id-products_categories .view-content .views-row .views-field-name a {
  font-size: 16px;
  padding: 0.5em 1.5em;
  display: inline-block;
  cursor: pointer;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF3A64E9', endColorstr='#FF1337AA');
  background-color: #3a64e9;
  border: 0;
  color: white;
  text-shadow: #103093 0 -1px 0;
  /* text-transform: uppercase; */
}
/* line 15, ../../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.view-id-products_categories .view-content .views-row .views-field-name a:hover {
  text-decoration: none;
}
/* line 42, ../../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.view-id-products_categories .view-content .views-row .views-field-name a:hover {
  background-color: #2352e6;
}
/* line 44, ../../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.view-id-products_categories .view-content .views-row .views-field-name a:active {
  background-color: #1949e1;
}
/* line 6, ../../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.view-id-products_categories .view-content .views-row .views-field-name a.disabled, .view-id-products_categories .view-content .views-row .views-field-name a[disabled] {
  opacity: 0.6;
  background: false;
  cursor: default;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 73, ../../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/sassy-buttons-0.1.4/stylesheets/_sassy-buttons.sass */
.view-id-products_categories .view-content .views-row .views-field-name a::-moz-focus-inner {
  padding: 0 !important;
  margin: -1px !important;
}

/* line 410, ../sass/local.scss */
.products-page-wine h4 {
  font-size: 2em;
  font-weight: bold;
}

/* line 414, ../sass/local.scss */
.products-page-wine p {
  color: #888;
}

/* line 417, ../sass/local.scss */
.products-sidebar-right p {
  padding-right: 6em;
}

/* line 420, ../sass/local.scss */
.products-sidebar-right ul li {
  list-style: none;
}

/* line 423, ../sass/local.scss */
.products-sidebar-right a {
  color: #3b2133;
  text-decoration: underline;
}

/* line 427, ../sass/local.scss */
.file-attachment {
  margin: 2em 0 0 0;
}

/* Wine List
--------------------------------------------------------------*/
/* line 432, ../sass/local.scss */
.wine-list {
  /* margin-bottom: 2em; */
}

/* line 434, ../sass/local.scss */
.wine-list h6 {
  font-size: 1em;
  padding: 0 0 0.5em 1em;
}

/* line 438, ../sass/local.scss */
h4.wine-list-name {
  color: #444;
  font-weight: bold;
  font-size: 1.2em;
  padding: 2em 0 0 0;
  margin: 0;
  /* width: 180px; */
}

/* line 447, ../sass/local.scss */
h4.wine-list-country {
  color: #777;
  font-weight: bold;
  font-size: 1em;
  padding: 0;
  margin: 0;
}

/* line 454, ../sass/local.scss */
.wine-list ul li {
  list-style: none;
}

/* line 457, ../sass/local.scss */
.wine-list a {
  text-decoration: underline;
  color: #444;
}

/* line 461, ../sass/local.scss */
.wine-page-illustration {
  /* background: #ebe8e2; */
  padding: 0 1em 1em 1em;
}

/* line 464, ../sass/local.scss */
.wine-notes {
  color: #444;
}

/* line 468, ../sass/local.scss */
.view-Olive-Oil .views-field-tid,
.view-Wines .views-field-tid {
  font-size: 1.2em;
  font-weight: bold;
  padding: 44px 0 0 4px;
  margin: 0px 0 0 120px;
  width: 100px;
  height: 100px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  background: url("/sites/default/files/images/new.png");
  background-repeat: no-repeat;
}

/* line 481, ../sass/local.scss */
.wine-title, .oil-title {
  font-weight: bold;
  font-size: 2em;
  color: #444;
  margin: 0.4em 0 0.5em 0;
  padding-bottom: .4em;
}

/* line 488, ../sass/local.scss */
.wine-page p {
  color: #888;
}

/* line 490, ../sass/local.scss */
.wines-menu {
           																		 	/*
background: #efefef;
																					padding: 1em 0 1em 0;
																					border-radius: 5px;
*/
}

/* line 497, ../sass/local.scss */
.acids-table {
  margin-bottom: 3em;
  font-size: .9em;
}

/* line 501, ../sass/local.scss */
.acids-table-name {
  background: #eee;
  font-size: 1em;
  font-weight: bold;
  padding: 1em;
  border: 1px solid #444444;
}

/* About Us 
-------------------------------------------------------------- */
/* line 510, ../sass/local.scss */
.about-us {
  color: #222;
  font-size: 1.1em;
}

/* line 517, ../sass/local.scss */
.about-us-content {
  padding: 3em 2em 4em 2em;
  border-radius: 5px;
}

/* line 524, ../sass/local.scss */
.about-us-sidebar-right h2.block-title {
  font-weight: bold;
  font-size: 1.2em;
  color: #0669e4;
  border-top: 3px solid #0669e4;
  /* padding: .2em 0 0 0; */
  margin-top: 1em;
}

/* line 532, ../sass/local.scss */
.about-us-sidebar-right img {
  padding: 0 0.3em 0 0.3em;
  border: 1px dotted #cccccc;
  /* margin-left: 2em; */
}

/* line 537, ../sass/local.scss */
.about-us-sidebar-right ul li {
  list-style-type: none;
}

/* line 540, ../sass/local.scss */
.about-us-sidebar-right a {
  /* margin-left: 2em; */
  color: #3b2133;
  text-decoration: underline;
}

/* line 545, ../sass/local.scss */
.language-switcher ul {
  float: right;
  padding: 0.4em 3em 0.2em 0;
  background: #04080b;
  border-radius: 5px;
  border: 1px solid #444444;
}

/* line 552, ../sass/local.scss */
.language-switcher ul li {
  list-style: none;
  float: left;
  margin-left: 3em;
  font-size: .9em;
  font-weight: bold;
}

/* line 559, ../sass/local.scss */
.language-switcher ul li a {
  color: #fff;
}

/* line 562, ../sass/local.scss */
.language-switcher ul li img {
  margin-right: .5em;
}

/* line 565, ../sass/local.scss */
.footer-wrapper h2.block-title {
  color: #b4ff19;
  border-top: none;
  border-bottom: 1px dotted #b4ff19;
  padding-bottom: .4em;
}

/* Footer
-------------------------------------------------------------- */
/* line 574, ../sass/local.scss */
.footer-wrapper .views-field-title a {
  color: #fff;
  text-decoration: underline;
}

/* line 578, ../sass/local.scss */
.footer-wrapper .views-view-grid tbody tr td img {
  float: left;
  margin-right: 0;
  margin-bottom: 0;
}

/* line 583, ../sass/local.scss */
.footer-suppliers-logo {
  margin-bottom: 2em;
}

/* Primary Menu
/-------------------------------------------------------------- */
/* line 588, ../sass/local.scss */
.primary-menu-inner ul.menu li {
  padding: 0.1em 4em 0 0;
}

/* line 591, ../sass/local.scss */
.primary-menu-inner ul.menu li a {
  text-transform: uppercase;
  font-size: .8em;
}

/* line 596, ../sass/local.scss */
.primary-menu-inner ul.menu li a:link,
.primary-menu-inner ul.menu li a:visited {
  border-left: none;
  color: #aeaeae;
}

/* styles for standard and Superfish primary menu */
/* line 608, ../sass/local.scss */
.primary-menu-inner ul.menu li a:focus,
.primary-menu-inner ul.menu li a:hover,
.primary-menu-inner ul.menu li:hover a,
.primary-menu-inner ul.menu li.hover a,
.primary-menu-inner ul.menu li.active-trail a,
.primary-menu-inner ul.sf-menu li a:hover,
.primary-menu-inner ul.sf-menu li:hover a,
.primary-menu-inner ul.sf-menu li.hover a {
  background: none;
  color: #fff;
}

/* line 612, ../sass/local.scss */
.primary-menu-inner ul.menu li.active-trail a.active {
  color: #fff;
}

/* line 616, ../sass/local.scss */
.primary-menu-inner ul li.last a,
.primary-menu-inner ul.sf-menu li.last {
  border-right: none;
}

/* 2nd Level */
/* line 620, ../sass/local.scss */
.primary-menu-inner ul.sf-menu li ul {
  background: none;
  border-left: none;
}

/* line 624, ../sass/local.scss */
.primary-menu-inner ul.sf-menu li ul.menu {
  border-bottom: none;
  border-left: none;
  border-right: none;
  margin-top: -8em;
}

/* line 630, ../sass/local.scss */
.primary-menu-inner ul.sf-menu li ul.menu li {
  border-bottom: none;
  padding: 0.2em 6em 0 2em;
  background: #fff;
  margin-bottom: 1px;
  margin-left: -4em;
  border-radius: 5px;
}

/* line 638, ../sass/local.scss */
.primary-menu-inner ul.sf-menu ul li.last {
  border-right: none;
}

/* line 642, ../sass/local.scss */
.primary-menu-inner ul.sf-menu li ul.menu a:link,
.primary-menu-inner ul.sf-menu li ul.menu a:visited {
  background: none;
  border-left: none;
  color: #000;
}

/* line 650, ../sass/local.scss */
.primary-menu-inner ul.sf-menu li:hover ul li a:link,
.primary-menu-inner ul.sf-menu li:hover ul li a:visited,
.primary-menu-inner ul.sf-menu li.hover ul li a:link,
.primary-menu-inner ul.sf-menu li.hover ul li a:visited {
  color: #000;
}

/* line 656, ../sass/local.scss */
.primary-menu-inner ul.sf-menu li.last a:link,
.primary-menu-inner ul.sf-menu li.last a:visited,
.primary-menu-inner ul.sf-menu li.last ul li a:link,
.primary-menu-inner ul.sf-menu li.last ul li a:visited {
  border-right: none;
}

/* line 661, ../sass/local.scss */
.primary-menu-inner ul.sf-menu li.sfHover ul.menu li:hover,
.primary-menu-inner ul.sf-menu li.sfHover ul.menu li a:focus,
.primary-menu-inner ul.sf-menu li.sfHover ul.menu li a:hover {
  background: #eee;
  color: #535353;
}

/* line 665, ../sass/local.scss */
.footer .fusion-inline-menu .inner ul li {
  padding: 0 2em 0 2em;
}

/* line 668, ../sass/local.scss */
.footer .fusion-inline-menu .inner ul li a:hover {
  background: none;
  text-decoration: underline;
}
